@media screen and (max-width: 1200px) {
    .header {
        &__official {
            font-size: 16px;
        }
    }

    .consultation {
        min-height: auto;
        max-height: 680px;
        .title_left {
            text-align: center;
        }
        &__description {
            text-align: center;
            margin-top: 25px;
        }
    }

    .feed-form {
        margin: 0 auto;
    }

    .carousel {
        .next, .prev {
            display: none;
        }
    }
}
@media screen and (max-width: 991px) {
    .footer {
        &__info {
            display: block;
            transform: none;
            left: 0;
            top: auto;
            bottom: -180px;
            width: 100%;
            height: 180px;
            padding-top:0 20px;
        }
        &__address {
            margin-top: 25px;
        }
        &__phone {
            margin-top: 10px;
        }
        &__social {
            margin-top: 15px;
            width: 200px;
            a {
                width: 40px;
                height: 40px;
                i {
                    font-size: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .header {
        flex-wrap: wrap;
        &__contacts {
            width: 100%;
            align-items: center;
            a {
                font-size: 35px;
            }
            .button {
                width: 200px;
                height: 50px;
                font-size: 20px;
            }
        }
    }
    .advantages {
        &__wrapper {
            margin-top: 0;
            flex-direction: column; 
            align-items: center;
        }
        &__item {
            margin-top: 30px;
            max-width: 400px;
        }
        &__subheader {
            margin-top: 20px;
            font-size: 25px;
        }
        &__text {
            margin-top: 10px;
            font-size: 25px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__icons {
            width: 550px;
        }
        &__icon {
            font-size: 20px;
            max-width: 180px;
            img {
                height: 50px;
                width: auto;
            }
        }
    }

    .consultation {
        max-height: 800px;
    }

    .carousel {
        .tns-outer {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }

    .catalog {
        &__tabs {
            padding: 0 10px;
            width: 95%;
            margin: 0 auto;
            margin-top: 70px;
        }
    }

    .feedback {
        &-item {
            flex-direction: column;
            &__content {
                text-align: center;
                margin-left: 0;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .header {
        flex-direction: column;
        height: 200px;
        &__contacts {
            width: 100%;
            align-items: center;
            a {
                font-size: 25px;
            }
            .button {
                width: 180px;
                height: 40px;
                font-size: 15px;
            }
        }
    }
    .promo {
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            max-width: 100%;
        }
    }
    .advantages {
        &__item {
            max-width: 400px
        }
    }

    .catalog {
        &__tab {
            font-size: 12px;
        }
    }

    .modal {
        &__close {
            font-size: 51px;
            right: 0;
            top: 3px;
        }
    }

}

@media screen and (max-width: 400px) {
    .catalog {
        &__content {
            margin-top: 20px;
        }
        &__tabs {
            flex-direction: column;
            margin-top: 20px;
        }
        &__tab {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}